[Unit]
Description=Fan controller for the pi4

[Service]
Type=notify
User=root
Group=root
ExecStart=/usr/local/bin/fan
TimeoutStartSec=60
NotifyAccess=all
Restart=always
KillSignal=SIGTERM
TimeoutStopSec=20
RestartSec=20

[Install]
WantedBy=multi-user.target
